<!-- core/templates/tasks.html -->
{% extends "_base.html" %}
{% load partials %}
{% load static %}
{% block header %}
  <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
{% endblock header %}
{% block sidebar %}
  <div id="search">
    <label class="rounded-full input">
      <span class="icon-search text-gray-500"></span>
      <input type="search"
             name="query"
             class="grow text-md"
             placeholder="Type to search..."
             hx-post="{% url 'search' %}"
             hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
             hx-target="#todo-items" />
    </label>
  </div>
  <div id="filters" class="mt-4">
    <ul>
      <li>Today</li>
      <li>Tomorrow</li>
      <li>This week</li>
    </ul>
  </div>
{% endblock sidebar %}
{% block content %}
  <h1 class="text-2xl text-center font-bold m-4">{{ fullname }}'s Tasks</h1>
  <div class="w-full md:w-3/5 mx-auto m-4">
    <div class="mb-4">
      <form hx-post="{% url 'tasks' %}"
            hx-swap="afterbegin"
            hx-target="#todo-items"
            hx-on::after-request="this.reset();"
            hx-disabled-elt="#submit"
            class="flex items-center space-x-2">
            <input type="text"
               required
               name="title"
               placeholder="Add a new todo"
               class="input input-bordered flex-1 text-lg" />
        <button id="submit"
                type="submit"
                class="btn btn-primary btn-info text-lg w-24">Add</button>
      </form>
    </div>
    <ul id="todo-items"
        class="w-full list bg-base-100 rounded-box shadow-md"
        hx-indicator=".indicator">
      {% partialdef todo-items-partial inline %}
      {% for todo in todos %}
        <li class="list-row w-full">
          <input type="checkbox"
                 class="checkbox checkbox-lg checkbox-info mr-4"
                 hx-put="{% url 'toggle_todo' todo.id %}"
                 hx-swap="outerHTML"
                 hx-target="closest li"
                 hx-on:click="this.setAttribute('disabled', 'disabled')"
                 {% if todo.is_completed %}checked{% endif %} />
          <span class="flex-1 text-lg {% if todo.is_completed %}text-gray-500{% endif %}">{{ todo.title }}</span>
          <button hx-get="{% url 'edit_task' todo.id %}"
                  class="btn btn-circle btn-sm btn-info btn-outline"
                  hx-swap="innerHTML"
                  hx-target="closest li">
            <span class="icon-edit"></span>
          </button>
          <button hx-delete="{% url 'task_details' todo.id %}"
                  class="btn btn-circle btn-sm btn-error btn-outline"
                  hx-on:todo-deleted="this.closest('li').remove()"
                  hx-confirm="Delete this item?">
            <span class="icon-delete"></span>
          </button>
        </li>
      {% endfor %}
      {% if next_page_number %}
        <p id="loading"
           hx-get="{% url 'tasks' %}?page={{ next_page_number }}"
           hx-trigger="revealed"
           hx-swap="outerHTML"
           class="mx-auto my-4 loading loading-dots text-center"></p>
      {% endif %}
    {% endpartialdef %}
  </ul>
</div>
{% endblock content %}
{% partialdef todo-item-edit %}
<input type="checkbox"
       form="edit-form"
       name="is_completed"
       class="checkbox checkbox-lg checkbox-info mr-2"
       {% if todo.is_completed %}checked{% endif %} />
<div class="flex space-x-4">
  <form id="edit-form"
        hx-post="{% url 'task_details' todo.id %}"
        hx-swap="outerHTML"
        hx-target="closest li"
        class="w-full flex items-center space-x-2">
    <input type="text"
           name="title"
           required
           class="input input-bordered flex-1 text-lg"
           value="{{ todo.title }}"
           autofocus />
  </form>
  <button form="edit-form"
          class="btn btn-circle btn-sm btn-success btn-outline"
          type="submit">
    <span class="icon-check"></span>
    </button>
    <button class="btn btn-circle btn-sm btn-error btn-outline"
            hx-get="{% url 'task_details' todo.id %}"
            hx-swap="outerHTML"
            hx-target="closest li">
      <span class="icon-back"></span>
    </button>
  </div>
{% endpartialdef todo-item-edit %}
